<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khula:wght@300&display=swap" rel="stylesheet">
  <title>Suculenta's Garden</title>
</head>
  <body>
    <!--------------Card de familias-------------->
    <div id="cards" class="clearfix">
      <div class="card__row">
        <div class="card__content">
          <img id="card__content--img" src="../img/echeveria.png" alt="Echeveria">
          <p class="card__content--p">Echeveria</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>

        <div class="card__content">
          <img id="card__content--img" src="../img/../img/aonium.png" alt="Echeveria">
          <p class="card__content--p">Aonium</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>

        <div class="card__content">
          <img id="card__content--img" src="../img/senecio.png" alt="Echeveria">
          <p class="card__content--p">Senecio</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>
      </div>

      <div class="card__row">
        <div class="card__content">
          <img id="card__content--img" src="../img/supervium.png" alt="Echeveria">
          <p class="card__content--p">Supervium</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>

        <div class="card__content">
          <img id="card__content--img" src="../img/../img/cactus.png" alt="Echeveria">
          <p class="card__content--p">Cactus</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>

        <div class="card__content">
          <img id="card__content--img" src="../img/crassula.png" alt="Echeveria">
          <p class="card__content--p">Crassula</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>
      </div>

      <div class="card__row">
        <div class="card__content">
          <img id="card__content--img" src="../img/kalanchoe.png" alt="Echeveria">
          <p class="card__content--p">Kalanchoe</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>

        <div class="card__content">
          <img id="card__content--img" src="../img/../img/haworthia.png" alt="Echeveria">
          <p class="card__content--p">Haworthia</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>

        <div class="card__content">
          <img id="card__content--img" src="../img/sedum.png" alt="Echeveria">
          <p class="card__content--p">Sedum</p>
          <a href="#" class="card__content--a">Saber más</a>
        </div>
      </div>
    </div>
    <!--------------Card-------------->
    <div class="content-cards">
      <h2>Cards</h2>
      <div class="card">
        <img src="../img/tipo-1.png" alt="Suculenta Echeveria">
        <h3 class="titleCard">Echeveria Black Knight</h3>
        <p class="price">$ 6.00</p>
        <img src="../img/estrellas.png" alt="Calificación" class="stars">
        <button class="button-principal button--margin">Ver Detalles</button>
      </div>
      <div class="card">
        <img src="../img/tipo-1.png" alt="Suculenta Echeveria">
        <h3 class="titleCard">Echeveria Black Knight</h3>
        <p class="price">$ 6.00</p>
        <img src="../img/estrellas.png" alt="Calificación" class="stars">
        <button class="button-principal button--margin">Ver Detalles</button>
      </div>
      <div class="card">
        <img src="../img/tipo-1.png" alt="Suculenta Echeveria">
        <h3 class="titleCard">Echeveria Black Knight</h3>
        <p class="price">$ 6.00</p>
        <img src="../img/estrellas.png" alt="Calificación" class="stars">
        <button class="button-principal button--margin">Ver Detalles</button>
      </div>
      <div class="card2">
        <img src="../img/tipo-1.png" alt="Suculenta Echeveria">
        <h3 class="titleCard">Echeveria Black Knight</h3>
        <p class="price">$ 6.00</p>
        <img src="../img/estrellas.png" alt="Calificación" class="stars">
        <button class="button-principal button--margin">Ver Detalles</button>
      </div>
      <div class="card2">
        <img src="../img/tipo-1.png" alt="Suculenta Echeveria">
        <h3 class="titleCard">Echeveria Black Knight</h3>
        <p class="price">$ 6.00</p>
        <img src="../img/estrellas.png" alt="Calificación" class="stars">
        <button class="button-principal button--margin">Ver Detalles</button>
      </div>
      <div class="card2">
        <img src="../img/tipo-1.png" alt="Suculenta Echeveria">
        <h3 class="titleCard">Echeveria Black Knight</h3>
        <p class="price">$ 6.00</p>
        <img src="../img/estrellas.png" alt="Calificación" class="stars">
        <button class="button-principal button--margin">Ver Detalles</button>
        <p class="offer">50%</p>
      </div>
    </div>
  </body>
</html>
