<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khula:wght@300&display=swap" rel="stylesheet">
  <title>Suculenta's Garden</title>
</head>
  <body>
    <!--------------carrucel-------------->
    <div class="container-carrusel">
      <h1>Productos Relacionados</h1>
      <div class="center">
        <div class="wrapperCarrusel">
          <div class="inner">
            <div class="cards margin--card">
              <img src="../img/2.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/4.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/6.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/7.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/9.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/10.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/13.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/11.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/8.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/4.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/11.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
            <div class="cards">
              <img src="../img/11.png">
              <div class="content">
                <h1>Senecio cephalophorus</h1>
                <h3>$ 6.00</h3>
                <img src="../img/estrellas.png" class="star">
                <button class="button-principal">Ver Detalles</button>
              </div>
            </div>
          </div>
        </div>

        <div class="map">
          <button class="active first"></button>
          <button class="second"></button>
          <button class="third"></button>
        </div>
      </div>
    </div>
    <script src="../js/carrusel.js"></script>
  </body>
</html>
