<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khula:wght@300&display=swap" rel="stylesheet">
  <title>Suculenta's Garden</title>
</head>
  <body>
    <div class="content--buttons">
      <a class="button-principal" href="./html/accordeon.html">accordeon</a>
      <a class="button-principal" href="./html/alerts.html">alerts</a>
      <a class="button-principal" href="./html/buttons.html">buttons</a>
      <a class="button-principal" href="./html/cards.html">cards</a>
      <a class="button-principal" href="./html/carrucel.html">carrucel</a>
      <a class="button-principal" href="./html/dropdown.html">dropdown</a>
      <a class="button-principal" href="./html/filter.html">filter</a>
      <a class="button-principal" href="./html/footer.html">footer</a>
      <a class="button-principal" href="./html/form.html">form</a>
      <a class="button-principal" href="./html/header.html">header</a>
      <a class="button-principal" href="./html/menu--hamburguer.html">menu</a>
      <a class="button-principal" href="./html/modal.html">modal</a>
      <a class="button-principal" href="./html/offers.html">offers</a>
      <a class="button-principal" href="./html/shopping.html">shopping</a>
      <a class="button-principal" href="./html/slider.html">slider</a>
      <a class="button-principal" href="./html/tabs.html">tabs</a>
      <a class="button-principal" href="./html/tipografias.html">tipografias</a>
    </div>

  </body>
</html>
