<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khula:wght@300&display=swap" rel="stylesheet">
  <title>Suculenta's Garden</title>
</head>
  <body>
    <!--------------Modal-------------->
    <div>
      <a href="#signincart__modal"> <img class="sign-in" src="../img/Registrarse.png"></a>
    </div>
    <div id="signincart__modal" class="modal">
      <div class="modal__content">
        <a class= "close__modal" href="#"><img src="../img/boton-x.png"></a>
        <img class="img__sign__up" src="../img/registro.png">
        <h2>Registrarse</h2>
        <div class="google__facebook__icons">
          <a href="#"><img src="../img/google.png" alt="Registrate con tu cuenta de google"></a>
          <a href="#"><img src="../img/face-register.png" alt="Registrate con tu cuenta de facebook"></a>
        </div>
        <div class="sign__in__form">
          <div class="box">
            <div class="icon__form">
              <img src="../img/persona.png" id="user-icon-form">
            </div>
              <input class="input1" type="text" placeholder="Nombre Completo" required ="required"/>
          </div>

          <div class="box">
            <div class="icon__form">
              <img src="../img/correo.png" id="mail-icon-form">
            </div>
              <input class="input1" type="text" placeholder="E-mail" required ="required"/>
          </div>

          <div class="box">
            <div class="icon__form">
              <img src="../img/contraseña.png" id="lock-icon-form">
            </div>
            <input class="input1" type="text" placeholder="Contraseña" required ="required"/>
          </div>
          <button type="submit" class="button-principal box_button--margin">Registrarse</button>
        </div>
      </div>
    </div>
  </body>
</html>
