<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khula:wght@300&display=swap" rel="stylesheet">
  <title>Suculenta's Garden</title>
</head>
  <body>
    <!--------------Carrito de compras-------------->
    <div class="drawer--content">
      <h2>Carrito de compras</h2>
      <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
      <label for="drawer-toggle" id="drawer-toggle-label"></label>
      <nav id="drawer">
        <div id="shoppingCart"></div>
      </nav>
    </div>


    <script src="../js/shopping.js"></script>
  </body>
</html>
