.menu{
  display: none;
}
@media(max-width: 500px){
  .content--hamburguer{
    float: right;
    margin-right: -104px;
    margin-top: 35px;
    width: 35px;
  }
  .drawer--menu{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $dark-brown;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
  }
  .menu--open{
    width: 70%;
  }
  .menu--close{
    width: 0%;
  }
  .drawer--menu  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #C9C0BB;
    display: block;
    transition: 0.3s;
  }

  .drawer--menu  a:hover {
    color: #f1f1f1;
  }

  .drawer--menu  .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .menu--hamburguer a{
    color: $white;
    float: left;
    text-transform: uppercase;
  }

  .menu--hamburguer ul{
    padding: 0;
  }

  .menu--hamburguer li{
    float: none;
    list-style: none;
    margin-top: 50px;
    padding-bottom: 20px;
    width: 100%;
  }

  .menu--hamburguer li + li{
    margin-bottom: 50px;
    margin-top: 50px;
  }

  li .menu__line{
    border-bottom: 1px solid $white;
    width: 100%;
  }

  li .menu__ayuda{
    border-bottom: none;
  }
  li .menu__register{
    border-top: 1px solid $white;
  }
  a.menu__register{
    padding-top: 30px;
  }

  a.menu__line{
    padding-bottom: 28px;
    padding-left: 25px;
    padding-top: 25px;
  }

  li a.menu__title--family{
    padding-left: 63px;
  }

  li a.menu__family{
    padding-left: 111px;
    padding-top: 20px;
  }
}

@media(max-width: 400px){
  .content--hamburguer{
    float: right;
    margin-right: -106px;
    margin-top: 31px;
    width: 35px;
  }
  .menu{
    display: block;
  }
  .menu--open{
    width: 75%;
  }

  .hamburger{
    right: -199px;
  }
}
